.create-group-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1020px;
    margin: 50px auto;
}
.create-group-page .form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 5px auto;
}

.create-group-page .form .section {
    border-top: 1px gray solid;
    margin-bottom: 5px;
    width: 1020px;
}

.create-group-page h3{
    margin: 5px 0px;
    color: teal
}
.create-group-page h3, h2{
    margin: 10px 0px
}
.p-create {
    color: black;
}
.create-group-button {
    background-color: red;
    margin-top: 10px;
}
