 h1 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-weight: bold;
  }

  input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  p {
    color: red;
    margin-top: 5px;
  }

  button {
    padding: 10px;
    background-color: #af534c;
    color: white;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #8e281b;
  }
