.event-page {
    margin: 100px auto;
    max-width: 961px;
    padding: 0px 15px;
}

.active-link {
    color: #00798A;
    text-decoration: underline;
}

.group-event h1 a:not(.active-link) {
    color: #707070;
    text-decoration: none;
}
.group-event {
    display: flex;
    justify-content: flex-start;
}
.group-event h1 {
    margin: 5px 0;
    padding-left: 10px;
}

.event-page h4 {
    display: flex;
    justify-content: flex-start;
    color: gray;
    padding-left: 10px;
    margin: 5px 0px;
    padding-bottom: 10px;
}

.event-cards {
    display: flex;
    padding: 12px 0px;
    border-bottom: 1px solid #c7c6c6;
    border-top: 1px solid #c7c6c6;
    flex-direction: column;
}
.event-cards img {
    max-width: 180px;
    max-height: 150px;

}
.event-cards .left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 200px;
}
.event-cards .right {
    margin-right: 20px;
}
.event-cards .lower-event-card p {
    margin-left: 10px;
    color: black;
}

.event-cards h3 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.event-cards h4 {
    padding-left: 0;
    color: teal;
}

.event-cards h2 {
    font-size: 14px;
    color: #7C6F50
}

.event-cards p {
    font-size: 14px;
    color: #707070;
}

.member-private {
    font-size: 14px;
    color: #707070;
}
