ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.logo-home {
  width: 120px;
  margin-left: 15px;
}

li {
  margin: 0 10px;
}

.active {
  color: blue;
}
.profile-dropdown {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.hidden {
  display: none;
}
.right-nav a {
  margin: 0px 15px;
  text-decoration: none;
  color: darkgreen;
}
